:root {
    --primary-color: #64e1e6;
    /* Electric Blue */
    --secondary-color: #f9fcfb;
    /* Off White */
    --accent1-color: #FF914D;
    /* Atomic Tangerine */
    --accent2-color: #211914;
    /* Licorice */
    --heading-font: "Roboto Condensed", sans-serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header,
main,
footer {
    width: 50%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav a {
    /*home, about us, trips, contact us menu*/
    color: var(--accent2-color);
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;
}


/* 1. Allow children (h1 and article) to be absolutely positioned over .hero */
.hero {
    /*hero river image background*/
    position: relative;
}

.hero img {
    /*river image*/
    display: block;
    width: 100%;
    height: 650px;
}

.hero h1 {
    /*hero top banner*/
    position: absolute;
    top: 100px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}

.hero article {
    /*article words*/
    position: absolute;
    bottom: 2px;
    left: 100px;
    background-color: rgba(255, 255, 255, 0.8);

    /* semi-transparent white for readability */
    padding: 16px;
    max-width: 400px;
    /* optional but adds polish */
}

.hero article img {
    /*happy worker image on hero*/
    float: right;
    width: 200px;
    /* smaller width */
    height: auto;
    /* fixed height to crop */
    object-fit: cover;
    /* this crops the image to fill the box */
    margin-left: 10px;
    /* optional spacing */
}


nav a {
    margin: 0 8px;
    color: var(--accent2-color);
    margin-bottom: 1rem;
}

/*Adventure gallary photos to fit in row*/
.gallery-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.gallery-row figure {
    width: 200px;
    text-align: center;
}

.gallery-row img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--secondary-color);
    margin-top: 32px;
}

footer nav.socialmedia {
    display: flex;
}

footer nav.socialmedia img {
    width: 32px;
    height: 32px;
}

.socialmedia a {
    text-decoration: none;
}
